{% extends 'layout.html' %}

{% block content %}

<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Sensor Data</h1>
     <div style="margin-bottom: 10px">
                <a class="btn btn-success" href="/sensordata/">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    刷新
                </a>
            </div>
        <table class="table table-bordered">
            <thead >
                <tr>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Hydrogen Concentration</th>
                    <th>Smoke Concentration</th>
                    <th>RSSI</th>
                    <th>MAC Address</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for data in all_data %}
                <tr>
                    <td>{{ data.temperature }}</td>
                    <td>{{ data.humidity }}</td>
                    <td>{{ data.hydrogen_concentration }}</td>
                    <td>{{ data.smoke_concentration }}</td>
                    <td>{{ data.rssi }}</td>
                    <td>{{ data.mac_address }}</td>
                    <td>{{ data.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

{% endblock %}
