{% extends 'layout.html' %}

{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RSSI Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>
    <div class="container mt-5">
        <h1>RSSI Data Dashboard</h1>
        <table class="table table-hover table-striped">
            <thead >
                <tr>
                    <th scope="col">设备MAC地址</th>
                    <th scope="col">接入点MAC地址</th>
                    <th scope="col">RSSI值</th>
                    <th scope="col">时间</th>
                </tr>
            </thead>
            <tbody>
                {% for data in page_obj %}
                <tr>
                    <td>{{ data.device_mac }}</td>
                    <td>{{ data.ap_mac }}</td>
                    <td>{{ data.rssi }}</td>
                    <td>{{ data.timestamp | date:"Y-m-d H:i:s" }}</td>
                </tr>
                {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="btn btn-default">&laquo; 第一页</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default">上一页</a>
                    {% endif %}
                    <form action="" method="get" style="display: inline;">
                      <input type="text" name="page" placeholder="页码" class="form-control" style="width: auto; display: inline;">
                      <button type="submit" class="btn btn-default">跳转</button>
                    </form>
                    <span class="current">
                        页码 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default">下一页</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-default">最后一页 &raquo;</a>
                    {% endif %}
                    </span>
            </div>
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>


{% endblock %}