{% extends 'layout.html' %}

{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Data Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>
    <div class="container mt-5">
        <h1>Sensor Dashboard</h1>
        <table class="table table-bordered table-striped" >
            <thead>
                <tr>
                    <th scope="col">设备ID</th>
                    <th scope="col">设备名称</th>
                    <th scope="col">温度</th>
                    <th scope="col">氢气浓度</th>
                    <th scope="col">一氧化碳浓度</th>
                    <th scope="col">烟雾浓度</th>
                    <th scope="col">时间</th>
                </tr>
            </thead>
            <tbody>
                {% for data in items %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.device_mac }}</td>
                    <td>{{ data.temperature }}°C</td>
                    <td>{{ data.hydrogen }} ppm</td>
                    <td>{{ data.co }} ppm</td>
                    <td>{{ data.smoke }} ppm</td>
                    <td>{{ data.timestamp | date:"Y-m-d H:i:s" }}</td>
                </tr>
                {% endfor %}



            </tbody>
        </table>
    {% if items.has_other_pages %}
            <div class="pagination-container">
                <ul class="pagination">

                    <!-- 首页按钮 -->
                    {% if not items.number == 1 %}
                        <li><a href="?page=1">首页</a></li>
                    {% else %}
                        <li class="disabled"><span>首页</span></li>
                    {% endif %}

                    <!-- 上一页按钮 -->
                    {% if items.has_previous %}
                        <li><a href="?page={{ items.previous_page_number }}">&laquo; 上一页</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo; 上一页</span></li>
                    {% endif %}

                    <!-- 下一页按钮 -->
                    {% if items.has_next %}
                        <li><a href="?page={{ items.next_page_number }}">下一页 &raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>下一页 &raquo;</span></li>
                    {% endif %}

                    <!-- 末页按钮 -->
                    {% if not items.number == items.paginator.num_pages %}
                        <li><a href="?page={{ items.paginator.num_pages }}">末页</a></li>
                    {% else %}
                        <li class="disabled"><span>末页</span></li>
                    {% endif %}

                    <form action="" method="get">
                        <input type="text" name="page" placeholder="跳转到页码" required>
                        <button type="submit">跳转</button>
                        第 {{ items.number }} 页，共 {{ items.paginator.num_pages }} 页
                    </form>
                </ul>
            </div>
        {% endif %}
    </div>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>


{% endblock %}